* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("cloud.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background: rgb(220, 243, 9);
    color: grey;
}

h1::selection {
    background-color: blue;
    color: #fff;
}